body {
 max-width: 800px;
 margin: 10px auto;
 font-family: 'Lobster', cursive;
 font-size: 18px;
 font-weight: 300;
   background-image: url(0_1b524_7a0a196_L.jpg);
}

main, footer, .info-block {
  padding: 10px;
}

body>header {
 background: #fff;
 padding: 15px 0 15px 10px;
 margin-bottom: 15px;
 font-size: 24px;
 font-weight: bold;
 color: #ee3f3f;
}

body>header nav {
  text-align: center;
}

body>header a {
  text-decoration: none;
  padding: 8px;
  color: #ee3f3f;
}

body>header nav ul {
  padding-left: 0;
}

body>header nav ul li {
  display: inline;
  font-size: 0.75em;
  font-weight: 300;
}

aside {
 width: 200px;
 background: #fff;
 float: left;
 padding: 3px;
 text-align: center;
}

aside ul {
  list-style: none;
  padding: 0;
}

aside ul li a {
  text-decoration: none;
}

.info-header {
  float: left;
}

.logo {
  text-align: right;
  padding-right: 10px;
}

main {
 background: #fff;
 margin-left: 215px;
 margin-bottom: 15px;
}

main p {
 margin: 0;
}

footer {
 background: #aed863;
 color: #fff;
 margin-top: 15px;
}

.brand {
  font-size: 1.8em;
}

.info-block {
  background: #fff;
}

.info-block>header {
  text-align: center;
}

.news h2 {
  text-align: center;
}

hr {
  margin: 30px 0 30px 0;
  border: none;
  color: #8e00df;
  background-color: #f2cdff;
  height: 1px;
}